{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}  <!-- # against Cross Site Request Forgery(CSRF) attack - steal data      -->
            <h1 class="h3 mb-3 font-weight-normal">
                Please Sign in
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}
            
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            <br>
            {{ form.submit(class="btn btn-lg btn-lock btn-primary")}}
        </form>
    </div>
    <br>
    <div class="checkbox mb-3">
        <h6>Do not have an account?</h6>
        <a class="btn btn-sm btn-secondary" href={{ url_for('register_page') }}>Register</a>
    </div>
   

</body>
{% endblock %}   