{% extends 'base.html' %}
{% block title %}
    Market page
{% endblock %}
{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
        <h2> Available Movies</h2>
        <p> Start renting padawan!</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Your columns here -->
                    <th scope="col">Title</th>
                    <th scope="col">Year of release</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Have seen</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table here -->
                {% for item in items %}     <!--Jinja for loop-->
                {% include 'includes/items_modals.html' %}
                <tr> <!--tr=table row-->
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.year }}</td>
                    <td>{{ item.genre }}</td>
                    <td>{{ item.seen }}</td>
                    <td>
                        <!-- includes / items_modals  -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                       
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Modal-Renting-{{ item.id }}">Rent</button>
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2> Rented Movies</h2>
        <p> Click on the item to return</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/owned_items_modals.html' %}
                <div class="col=md-6">
                    <div style="margin-bottom: 5px" class="card text-center bg-dark">
                        <div class="card=body">
                            <h5 class="card-title">{{ owned_item.title }}</h5>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#Modal-Return-{{ owned_item.id }}">Return this item</button>
                            <p class="card-text"><strong>{{ owned_item.description }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}   