{% extends 'base.html' %}
{% block title %}
    Market page
{% endblock %}
{% block content %}
{% include 'includes/items_modals.html' %}
<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
        <h2> Available Movies</h2>
        <p> Start renting padawan!</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Your columns here -->
                    <th scope="col">Title</th>
                    <th scope="col">Year of release</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Have seen</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table here -->
                {% for item in items %}     <!--Jinja for loop-->
                {% include 'includes/items_modals.html' %}
                <tr> <!--tr=table row-->
                    <td>{{ item.title }}</td>
                    <td>{{ item.year }}</td>
                    <td>{{ item.genre }}</td>
                    <td>{{ item.seen }}</td>
                    <td>
                        <!-- includes / items_modals  -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal-MoreInfo">More Info</button>
                        <button class="btn btn-outline btn-success">Rent</button>
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2> Rented Movies</h2>
        <p> Clikc on the item to return</p>
        <br>
    </div>
</div>
{% endblock %}   